.AddAnswer {
  width: 860px;
  margin: 0 auto;
  background: #fff;
  padding: 30px;
  box-shadow: 0 20px 40px rgba(171, 171, 171, 0.2);
  border-radius: 4px;
}

.AddAnswer form .form-content {
  width: 100%;
}

.AddAnswer form .form-content label {
  font-size: 1.8rem;
  font-weight: 800;
}

form .form-content .form-item textarea {
  width: 100%;
  padding: 20px;
  font-size: 1.6rem;
  margin: 10px 0;
  border: 0;
  border: 1px solid #d8d8d8;
  outline: none;
}

form .form-content input[type='submit'] {
  padding: 10px;
  width: 100px;
  height: 40px;
  font-size: 1.5rem;
  background: #5887f9;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  margin-right: 20px;
  transition: all 0.1s;
}

form .form-content input[type='submit']:hover {
  background: #2d64e4;
}

form .form-content .btns {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

form .form-content .btns a {
  padding: 10px 26px;
  width: 100px;
  height: 40px;
  font-size: 1.5rem;
  background: rgba(255, 99, 71, 0.229);
  border: 0;
  border-radius: 4px;
  color: tomato;
  font-weight: 600;
  transition: all 0.1s;
}

form .form-content .btns a:hover {
  background: tomato;
  color: #fff;
}
